@if (Size <= 1) 
{
<h1 @attributes="InputAttributes" class="uheader">@ChildContent</h1>
} 
else if (Size == 2) 
{
<h2 @attributes="InputAttributes" class="uheader">@ChildContent</h2>
}
else if (Size == 3) 
{
<h3 @attributes="InputAttributes" class="uheader">@ChildContent</h3>
}
else if (Size == 4) 
{
<h4 @attributes="InputAttributes" class="uheader">@ChildContent</h4>
}
else if (Size == 5) 
{
<h5 @attributes="InputAttributes" class="uheader">@ChildContent</h5>
}
else if (Size >= 6) 
{
<h6 @attributes="InputAttributes" class="uheader">@ChildContent</h6>
}

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter]
    public int Size { get; set; } = 1;
}
