@page "/debug/ctp"
@layout BlankLayout

<div id="ctp-page" class="row">
    <div class="col">
        @for (int i = 0; i < 2; i++)
        {
            <div class="row @(i == 0 ? "black" : "white")">
                <div class="col-4">
                    <UButton>Click Me</UButton>
                </div>
                <div class="col-4">
                    <UDropdown Items="@(new List<string>() { "jriokfr5e45ihtreiughtre", "option", "jreigjitrjgtri9utueotu9ughtjtruihg6" })" />
                </div>
                <div class="col-4">
                    <UInput></UInput>
                </div>
                <div class="col-4">
                    <ULabel></ULabel>
                </div>
            </div>
            <div class="row @(i == 0 ? "black" : "white")">
                <div class="col-4">
                    <UOrderedList>
                        <li>refrehgiurtegu4hgu</li>
                        <li>fjierwjtgure4w4yg98trewhguitrwwiugtrguitr897grhuightreuguiuuhreuiyygr</li>
                        <li>rtfer</li>
                        <li>frejtgio5j45r5gihtrhgtrghtrshgr89ghr88s789g8y7h7r879s77899yg879s9r8t89y8gr78yh8g78ter87s788yh7g78aer8t8hg7uiae7ruh778gha78e999r9gjoitetrsrasitrshgrthysu</li>
                        <li>56547657687675534647457</li>
                    </UOrderedList>
                </div>
                <div class="col-4">
                    <UPanel>

                    </UPanel>
                </div>
                <div class="col-4">
                    <UUnorderedList>
                        <li>refrehgiurtegu4hgu</li>
                        <li>fjierwjtgure4w4yg98trewhguitrwwiugtrguitr897grhuightreuguiuuhreuiyygr</li>
                        <li>rtfer</li>
                        <li>frejtgio5j45r5gihtrhgtrghtrshgr89ghr88s789g8y7h7r879s77899yg879s9r8t89y8gr78yh8g78ter87s788yh7g78aer8t8hg7uiae7ruh778gha78e999r9gjoitetrsrasitrshgrthysu</li>
                        <li>56547657687675534647457</li>
                    </UUnorderedList>
                </div>
                <div class="col-4">
                    <UIcon FAClass="fab fa-github" />
                </div>
            </div>
            <div class="row @(i == 0 ? "black" : "white")">
                <div class="col-4">
                    <ULine/>
                    <ULine/>
                    <ULine/>
                    <ULine/>
                    <ULine/>
                </div>
                <div class="col-4">
                    <UMedia MediaSource="/img/avatar.avif" />
                    <UMedia autoplay MediaSource="/vid/backgrounds/blog.mp4" />
                </div>
                <div class="col-4">
                    <UProgressBar></UProgressBar>
                </div>
                <div class="col-4">
                    <UField></UField>
                </div>
            </div>
            <div class="row @(i == 0 ? "black" : "white")">
                <div class="col-4">
                    <UHeader>Testing123!?~#</UHeader>
                </div>
                <div class="col-4">
                    <UTitle>Testing123!?~#</UTitle>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">

                </div>
            </div>
        }
    </div>
</div>

@code {

}
