<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(BlankLayout).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlankLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(BlankLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@inject NavigationManager NavigationManager

@code {

    bool EnableComingSoonMode = true;

    protected override async Task OnInitializedAsync()
    {
        Uri navURI = new(NavigationManager.Uri);
        if (EnableComingSoonMode && navURI.AbsolutePath[1..] != "soon") NavigationManager.NavigateTo("soon", true, true);
        else if (navURI.AbsolutePath[1..] == "soon") { }
        await base.OnInitializedAsync();
    }
}
